@()

@main("TodoMVC") {

    <section id="todoapp">
        <header id="header">
            <h1>Todos</h1>
            <input type="text" id="new-todo" placeholder="What needs to be done" autofocus/>
        </header>
        <section id="main">
            <input type="checkbox" id="toggle-all"/>
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"></ul>
        </section>
    </section>
    <footer id="info">
        <p>Double-click to edit a todo.</p>
    </footer>

}
