@()(implicit request: RequestHeader)

@main("TodoMVC") {
    <section id="todoapp">
        <header id="header">
            <h1>Todos</h1>
            <input name="todo" type="text" id="new-todo" placeholder="What needs to be done" autofocus autocomplete="off"/>
        </header>
        <section id="main">
            <input type="checkbox" id="toggle-all"/>
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"
                data-resource-link="@routes.TodoApi.todoResourceList()"
                data-realtime-link="@routes.RealtimeApi.wssocket.webSocketURL()">
            </ul>
        </section>
    </section>

    <script src="@routes.Assets.at("lib/underscorejs/underscore-min.js")"></script>
    <script src="@routes.Assets.at("lib/mustachejs/mustache.js")"></script>
    <script src="@routes.Assets.at("cs/todo.js")"></script>
}
