@(todoList: List[Application.Todo], errors: String)

@main("TodoMVC") {
    <p>
        @errors
    </p>
    <section id="todoapp">
        <header id="header">
            <h1>Todos</h1>
            <form action="@routes.Application.createTodo()" method="POST">
                <input name="todo" type="text" id="new-todo" placeholder="What needs to be done" autofocus autocomplete="off"/>
            </form>
        </header>
        <section id="main">
            <input type="checkbox" id="toggle-all"/>
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                @for(todo <- todoList) {
                    <li data-id="@todo.id" @if(todo.done){ class="completed" } >
                        <div class="view">
                            <form action="@routes.Application.flipTodoDone(todo.id)" method="POST">
                                <input type="checkbox"
                                       class="toggle"
                                       @if(todo.done){ checked="checked" }
                                       onchange="this.form.submit()"/>
                            </form>
                            <label for="todo_@todo.id">@todo.todo</label>
                            <form action="@routes.Application.removeTodo(todo.id)" method="POST">
                                <button class="destroy"
                                        onclick="this.form.submit()">
                                </button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </section>

}
